*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-size: Arial;
}

.navbar{
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.nav-link a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 10px;
}
.nav-link a.active{
    color: #007bff;
    border-bottom: 2px soild #007bff;
    padding-bottom: 5px;
}
.nav-btn{
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: #0056b3;
}